<html>
  <head>
    <title>Basecamp календарик</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="footer">
        <img src="/static/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
        <p>Сторінка проекту <a href="http://code.google.com/p/basecampcal/">http://code.google.com/p/basecampcal/</a></p>
    </div>
  </body>
</html>
