<html>
  <head>
    <title>Basecamp календарик</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="footer">
        <img src="/static/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
        <p>Сторінка проекту <a href="https://github.com/kroman0/basecamp-calendar">https://github.com/kroman0/basecamp-calendar</a></p>
    </div>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38418276-2']);
  _gaq.push(['_setDomainName', 'kroman0cms-hrd.appspot.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
  </body>
</html>
